/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
body{
    /* height:100vh; */
    /* background:linear-gradient(rgb(183, 10, 183) 5%,rgb(68, 68, 219)); */
    background-color:#009579;
}
.loginflex{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.container{
   
    margin:30px 10px;
    position: relative;
    max-width:350px;
    width:100%;
    /* background:#46b1f4; */
    background-color:#e9f3e7;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container .form{
    height:350px;
}
.container .form{
    padding:30px;
   
}
.container .form .title{
     position:relative;
    font-size:27px;
    font-weight:600;
}
.form .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    height:3px;
    width:30px;
    background-color:#009579;
    border-radius:25px;
}
.form .input-field{
    height: 50px;
    margin-top:20px;
    width:100%;
    position: relative;

}
.input-field input{
    position: absolute;
     height:100%;
     width:100%;
     padding:0 35px;
     border:none;
     font-size:16px;
     outline: none;
     border-bottom: 2px solid #ccc;
     border-top:2px solid transparent;
     transition:all 0.2s ease;
}
.input-field input:is(:focus,:valid){
    /* border-bottom-color: #4070f4; */
    border-bottom-color:#009579;
    }
    /* icon css */
.input-field i{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color:#999;
    font-size:23px;
    transition:all 0.2s ease;
}
.input-field input:is(:focus,:valid)~i{
    /* color: #4070f4; */
    color: #009579;
    }
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right:0;
    cursor: pointer;
    padding: 10px;

}
/* End Icon css */
.form .checkbox-text{
    display: flex;
    justify-content:space-between;
    margin-top:20px;

}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    margin:0 8px -2px 4px;
    accent-color:#009579;
    transform: scale(1.5);
}
.form .text{
    color:#000000;
    /* color: #009579; */
    font-size:14px;
    margin:4px;
}
.form a.text{
    /* color: #4070f4; */
    color: #009579;
    text-decoration: none;
    font-weight:600;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 10px;
}
.form .button input{
    margin-top:15px;
    border: none;
    color: #fff;
    /* background-color: #252610; */
    background-color:#009579;
    letter-spacing: 1px;
    border-radius:6px;
    font-size:17px;
    font-weight:500;
    cursor:pointer;
    transition:all 0.3s ease;

}
.button input:hover{
    /* background-color: #4070f4; */
    background-color:#009579;
}
  .form .login-signup {
    margin-top:15px;
    padding:15px;
    text-align: center;
}
.logout{
    color: #000000;
}